html {
    height: 100%;
}

* {
    border-radius: 10px;
    font-family: "Bree Serif", serif;
}

body {
    font-size: 16px;
    background-color: #385D4850;
    width: 95%;
    height: 100%;
}

h1 {
    color: #001524;
    background-color: #385D4875;
    text-align: center;
    padding: 2%;
}

.main {
    display: flex;
    height: 75%;
}

article {
    padding: 3%;
}

.cells {
    background-color: #D6CC9950;
    flex: 4 1 auto;
    padding: 1%;
}

.rules {
    text-align: left;
    flex: 0 1 auto;
    max-width: 30%;
    background-color: #FDE5D4;
    margin-left: 1%;
    min-width: 20%;
}

.selectors div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

label,
input {
    margin: 5% 5px;
}

#submit {
    padding: 10px;
    margin: auto 50%;
}

#container {
    display: grid;
    height: 100%;
    grid-gap: 2px;
}