* {
    border-radius: 10px;
}

body {
    font-size: 16px;
    font-family: "Bree Serif", serif;
    background-color: #385D4850;
    margin: auto;
    width: 95%;
}

h1 {
    color: #001524;
    background-color: #385D4875;
    text-align: center;
    padding: 2%;
}

.main {
    display: flex;
}

article {
    padding: 5%;
}

.cells {
    background-color: #D6CC9950;
    flex: 4 1 auto;
}

.rules {
    text-align: left;
    flex: 0 1 auto;
    max-width: 30%;
    background-color: #FDE5D4;
    margin-left: 1%;
    min-width: 50px;
}

.selectors div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

label,
input {
    margin: 2% auto;
}

.submit {
    padding: 2%;
}