html {
    height: 100%;
}

* {
    border-radius: 10px;
    font-family: "Bree Serif", serif;
}

body {
    font-size: 16px;
    background-color: #385D4850;
    width: 95%;
    height: 90%;
    margin: auto;
}

h1 {
    color: #001524;
    background-color: #385D4875;
    text-align: center;
    padding: 2%;
}

.main {
    display: flex;
    height: 75%;
    min-height: 400px;
}

article {
    padding: 3%;
}

#cells {
    background-color: #D6CC9950;
    flex: 4 1 auto;
    padding: 1%;
}

#rules {
    text-align: left;
    flex: 0 1 auto;
    max-width: 30%;
    background-color: #FDE5D4;
    margin-left: 1%;
    min-width: 20%;
}

div.inputs,
div.buttons {
    display: flex;
    margin: 1% auto;
    justify-content: center;
}

div.inputs {
    flex-wrap: wrap;
}

label,
input {
    margin: 1% 5px;
}

button {
    padding: 10px;
    margin: 1% 10%;
    width: 75px;
    display: inline-block;
}

#grid-container {
    display: grid;
    height: 100%;
    grid-gap: 2px;
}

.grid-item {
    border: solid #385D4875;
}

#counter {
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF75;
}